body{
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: antiquewhite;
}


.header-box{
  background: linear-gradient(135deg, #38b2ac 0%, #319795 100%); ;
  border-radius: 24px;
  padding: 20px;
  height: 180px;
  width: 75%;
  max-width: 600px;
  margin:20px auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start ;
}
       
.form-box{
  width: 75%;
  max-width: 600px;
  height: 450px;
  background-color: white;
  margin: auto;
  padding: 20px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

h1, h4 { 
color: aliceblue;

}

h1{
  margin-top: 50px;
}

h4{
  margin-bottom: 50px;
}


